{% extends '::frontend.html.twig' %}


{% block body %}
	<h1>Facturas de Venta</h1>
    
    <ol class="breadcrumb">
        <li><a href="{{asset('home/facturacion')}}">Contabilidad</a></li>
        <li class="active">Facturas de Venta ()</li>
    </ol>
    
   
   
{% endblock %}