{% extends '::frontend.html.twig' %}


{% block title %}
	sofware de facturación
{% endblock %}

{% block body %}
	<h1 class="clase"> Facturacion </h1>

	<hr />	
	<a href="{{ asset('home/facturacion') }}">Facturacion</a>
	<a href="{{ asset('home/contabilidad') }}">Contabilidad</a>
	<a href="{{ asset('home/administracion') }}">Administración</a>
	
	<hr />
{% endblock %}
