{% extends '::frontend.html.twig' %}

{% block body %}

    <h1>Usuarios Registrados</h1>
    
    
    
     {% for flashMessage in app.session.flashbag.get('mensaje') %}
    <span class="alert-success">
        {{ flashMessage }}
        <hr />
    </span>
    {% endfor %}
    
    
    
    
     <a href="{{asset('test/add2')}}" title="Agregar Nuevo Usuario" class="btn btn-success">Agregar Nuevo Usuario</a>
    <hr />
    <table class="table table-bordered">
        <tbody>
            <th>Nombre</th>
            <th>Correo</th>
			<th>Contraseña</th>
            <th>Acciones</th>
        </tbody>
       
    </table>
    
<hr />
	 <p><a href="{{path('bd_homepagelogout')}}">Logout</a></p>
	 <p><a href="{{path('bd_homepage')}}">Volver a home</a></p>
{% endblock %}